/packages
/MyMvcDemo/obj
/MyMvcDemo/bin
/BaseFeatureDemo/obj
/BaseFeatureDemo/bin
/BaseFeatureDemo/obj/Debug/*.cache
/*.suo
/*.user
/MyProject/bin
/MyProject/obj
/MyMvcDemo/*.user
/BaseFeatureTest/obj
/BaseFeatureTest/bin
/BaseFeatureDemo/obj

/BaseFeatureDemo/obj/Debug/*.cache
obj

BaseFeatureDemo\obj\Debug*/
*.cache
*.cache
*.cache
BaseFeatureDemo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/HelloCSharp.sln.DotSettings

/MyMvcDemo/Log/LogDebugger/20141120.txt
/MyMvcDemo/Log/LogDebugger/20141213.txt
/MyMvcDemo/Log/LogDebugger/20141214.txt
/MyMvcDemo/Log/LogError/20141120.txt
/MyMvcDemo/Log/LogError/20141213.txt
/MyMvcDemo/Log/LogError/20141214.txt
/MyMvcDemo/Views/AngularJS/ModelBind.cshtml
/MyProject/MyProject.csproj.user
/Utils/bin/Debug/Newtonsoft.Json.dll
/Utils/bin/Debug/Newtonsoft.Json.xml
/Utils/bin/Debug/Suijing.Utils.dll
/Utils/bin/Debug/Suijing.Utils.pdb
/Utils/bin/Debug/log4net.dll
/Utils/bin/Debug/log4net.xml
/MyMvcDemo/Log/LogDebugger/*.txt
/MyMvcDemo/Log/LogError/*.txt
/.nuget
/*.rar
/MyMvcDemo/Content/TestDemo/avalon

/MaxthonExtension/TestDemo
/MyMvcDemo/Log/LogWebReader
TestDemo
/JsonSong.Front/bin
/LiteDbLog/bin/Debug
/JsonSong.SpiderApp/bin
/JsonSong.Spider/bin
/JsonSong.MyWPFDemo/bin/Debug
/ServiceDemo/bin/Release
/Utils/bin
/JsonSong.BaseDao/bin
/AppTest/bin/Debug
/MaxthonExtension/bin
