/packages
/MyMvcDemo/obj
/MyMvcDemo/bin
/BaseFeatureDemo/obj
/BaseFeatureDemo/bin
/BaseFeatureDemo/obj/Debug/*.cache
/*.suo
/*.user
/MyProject/bin
/MyProject/obj
/MyMvcDemo/*.user
/BaseFeatureTest/obj
/BaseFeatureTest/bin
/BaseFeatureDemo/obj

/BaseFeatureDemo/obj/Debug/*.cache
obj

BaseFeatureDemo\obj\Debug*/
*.cache
*.cache
*.cache
BaseFeatureDemo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/HelloCSharp.sln.DotSettings
/MaxthonExtension/MaxthonExtension.csproj.user
/MaxthonExtension/Properties/PublishProfiles/addons.pubxml.user
/MyMvcDemo/Log/LogDebugger/20141120.txt
/MyMvcDemo/Log/LogDebugger/20141213.txt
/MyMvcDemo/Log/LogDebugger/20141214.txt
/MyMvcDemo/Log/LogError/20141120.txt
/MyMvcDemo/Log/LogError/20141213.txt
/MyMvcDemo/Log/LogError/20141214.txt
/MyMvcDemo/Views/AngularJS/ModelBind.cshtml
/MyProject/MyProject.csproj.user
/Utils/bin/Debug/Newtonsoft.Json.dll
/Utils/bin/Debug/Newtonsoft.Json.xml
/Utils/bin/Debug/Suijing.Utils.dll
/Utils/bin/Debug/Suijing.Utils.pdb
/Utils/bin/Debug/log4net.dll
/Utils/bin/Debug/log4net.xml
/MyMvcDemo/Log/LogDebugger/*.txt
/MyMvcDemo/Log/LogError/*.txt
