
/*菜单栏高度*/
.navbar-static-top {
    height: 88px;
}

/*左菜单栏 上部padding == 菜单栏高度*/
.main-sidebar {
    padding-top: 88px;
}

.breadcrumb li {
    font-size: 14px;
}

.content-header {
    margin-top: -15px;
}

#divContainContent {
    margin-top: 15px;
}


.ulTopMenu{float:left;}
.ulTopMenu li{float:left;width:87px;height:88px; text-align:center;}
.ulTopMenu li a{display:block;width:87px;height:88px;-moz-transition: none; transition: background-color 0.3s linear; -moz-transition: background-color 0.3s linear; -webkit-transition: background-color 0.3s linear; -o-transition: background-color 0.3s linear; }
.ulTopMenu li a.selected{background:url(../img/navbg.png) no-repeat;}
.ulTopMenu li a:hover{display:block;background:#000;color:#fff;background: none repeat scroll 0% 0% rgb(43, 127, 181);}
.ulTopMenu li img{margin-top:10px;}
.ulTopMenu li a{display:block;}
.ulTopMenu a h2{font-size:14px;color:#d6e8f1; margin-top: 0px;}
.ulTopMenu a:hover h2{color:#fff;}

