@model MyProject.WeixinModel.Model.CheckModel
@{
    Layout = "";
}

    
<div class="row col-md-12">
    @*<div class="overlay" style="height: 100px;">
        <i class="fa fa-refresh fa-spin"></i>
    </div>*@
</div>

