@{
    ViewBag.Title = "title";
}
@Html.Partial("Head")
<h2>PromiseDemo</h2>


<p></p>
<b>-------------------------</b>


<script>
    require(["page/MyJsDemo/Promise/PromiseDemo1"], function (parameters) {
        
    })
</script>