@model IndexModel
@{
    Layout = "~/Views/Shared/_LteMenuLayout.cshtml";
}
<script>
    
    require(["page/home/index"], function (page) {
       
    });


  
</script>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style=""  >
    <!-- Content Header (Page header) -->
    @Html.Partial("LTEPartial/_LteCrumbsSection")

    <!-- Main content -->
    <section class="content" id="divContainContent" ms-include-src="{{contentUrl}}" data-include-rendered="indexRender">

        <!-- Your Page Content Here -->

    </section><!-- /.content -->
</div><!-- /.content-wrapper -->




