@model IndexModel
@{
    Layout = "~/Views/Shared/_LteMenuLayout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 438px;" >
    <!-- Content Header (Page header) -->
  

    <!-- Main content -->
    <section class="content" ms-include-src="{{contentUrl}}" id="divContainContent">

        <!-- Your Page Content Here -->

    </section><!-- /.content -->
</div><!-- /.content-wrapper -->




