@model IndexModel
@{
    Layout = "~/Views/Shared/_LteMenuLayout.cshtml";
}

<script>
    //seajs.use("underscore/underscore");
    //seajs.use("underscore/underscore.string");
    seajs.use("page/home/index");
</script>

<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{pageName}}
            <small>{{pageDescription}}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li ms-repeat-item="crumbs" ms-class="avtive:$last"><a ms-href="{{item.url}}">{{item.name}}</a></li>
        </ol>
    </section>
    
    <!-- Main content -->
    <section class="content" ms-include-src="{{contentUrl}}">
        
    

    </section>
    <!-- /.content -->
</aside><!-- /.right-side -->




