@model IndexModel
@{
    Layout = "~/Views/Shared/_LteMenuLayout.cshtml";
}
<script>
    seajs.use("page/home/index");
</script>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 438px;" >
    <!-- Content Header (Page header) -->
    @Html.Partial("LTEPartial/_LteCrumbsSection")

    <!-- Main content -->
    <section class="content" ms-include-src="{{contentUrl}}">

        <!-- Your Page Content Here -->

    </section><!-- /.content -->
</div><!-- /.content-wrapper -->




