<section class="content-header">
   
    <h1>
        {{pageName}}
        <small>{{pageDescription}}</small>
        <span style="">
            <button class="btn btn-default btn-sm"><i class="fa fa-refresh" ms-click="refresh"></i></button>
        </span>
    </h1>
   
   
  
    <ol class="breadcrumb">
        <li><a href="#!"><i class="fa fa-dashboard"></i> Home</a></li>

        <li ms-repeat-item="crumbs" @*ms-class="avtive:$last"*@>
            <a ms-href="#!{{item.url}}">{{item.name}}</a>
        </li> 
        
        <li class="avtive">
            <a href="#">{{pageName}}</a>
        </li>

    </ol>
    
   
</section>

