<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="AppName" value="碎景的框架测试"/>
  
  <add key="IsLocal" value="true"/>
  <add key="PacDir" value="http://localhost:4001/content/pac"/>
  <add key="HahaStart" value="1660764"/>
  <add key="StartSpider" value="false"/>
  <add key="JSConfigCache" value="false"/>

  <add key="staticsFolder" value="~/Files"/>
</appSettings>