
@{
    ViewBag.Title = "title";
}
@Html.Partial("Head")
<h2>title</h2>

<input type="button" name="name" value="2014-10-16T17:41:30" onclick="fun1()" />
<input type="button" name="name" value=" " onclick="fun1()" />
<input type="button" name="name" value=" " onclick="fun1()" />
<input type="button" name="name" value=" " onclick="fun1()" />

<script>
   
        function fun1() {
            var str = $("input:first").val();
            var str2 = str.replace("T", " ");
            var date = new Date(str2);
            console.log(date);
        }
   
</script>