@charset "utf-8";
html
{ 
	overflow-x:hidden;
	overflow-y:auto;
}
body{
    background:#fff;
	font-size:12px;
	font-family:"Microsoft YaHei","微软雅黑";
	width:100%;
	margin:0; 
	padding:0;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, img{
	margin:0;
	padding:0;
}
input, textarea, select {
	margin:0;
	padding:0;
	border:0;
	font-size:12px;
	font-family:"Microsoft YaHei","微软雅黑";}
img { border:0; }
ol, ul, li { list-style:none; }
a{ text-decoration:none;}

.clearfix:after { content: '\20'; display: block; height: 0; clear: both }
.clearfix { zoom: 1 }

.w1000{ width:1000px; margin:0 auto;}
.fixed{ position:relative;}

.red{ color:#ea544a;}
.green{ color:#209b61;}
.blue{ color:#005dd1;}
.gray{ color:#a5a5a5;}
.black{ color:#333;}
.orange{ color:#ff4800;}
.yellow{ color:#fcae52;}

.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.none { display:none; }